* {
  /* padding: 10px;
  margin: 10px; */
}

body {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  height: 90vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 3.5fr 3.5fr 3.5fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.wrapper>div {
  background: #eee;
  padding: 1 em;
}

.wrapper>div:nth-child(odd) {
  background: #ddf;
}

/* .wrapper {
  background-color: #eee;
  max-width: 1800px;
  margin: 0 auto;
} */

/* .main,
.secondary {
  padding: 1rem;
  margin: 1rem;
} */